.form {
  width: 100%;
}

.form > .form-row {
  width: 100%;
  margin-bottom: 30px;
}
.form > .form-row:last-child {
  margin-bottom: 0;
}
.form > .form-row > label {
  width: 100%;
  font-size: 13px;
  color: #999;
  text-transform: uppercase;
}
.form > .form-row > input {
  width: 100%;
  font-size: 20px;
  line-height: 2em;
  border: none;
  border-bottom: 2px solid #999;
}
.form > .form-row > input::placeholder {
  color: #99999950;
  font-size: 20px;
}

div > button {
  background: rgb(3, 93, 200);
  background: linear-gradient(
    90deg,
    rgba(3, 93, 200, 1) 0%,
    rgba(58, 126, 207, 1) 100%
  );
  /* box-sizing: border-box; */
  color: white;
  padding: 5px 40px;
  font-size: 15px;
  line-height: 20px;
  font-weight: 500;
  border-radius: 15px;
  border: none;
}
